html,
body {
  height: 100%;
  width: 100%;
  color: #444;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: linear-gradient(180deg, #f9f9f9, #6992c9);
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 20%;
  background: rgb(245, 247, 250, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.8px);
  -webkit-backdrop-filter: blur(0.8px);
  border: 1px solid #f5f7fa;
  z-index: 1;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
}

.menu button {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #f5f7fa;
  border-radius: 16px;
  background: none;
  transition: 500ms;
  color: inherit;
  font-size: 25px;
}

button:hover {
  scale: 1.1;
}

.color-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin: 0 auto;
  width: 100%;
}

input[type="color"] {
  width: 80%;
  border: 0;
  border-radius: 16px;
  padding: 0;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  transition: 500ms;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="color"]:hover {
  scale: 1.1;
}

.color-options {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
}

span {
  font-size: 20px;
}

.block {
  position: absolute;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.8px);
  -webkit-backdrop-filter: blur(0.8px);
  z-index: -1;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
  margin-bottom: 0px;
}

svg.footerIcon {
  height: 30px;
  fill: #f5f7fa;
}
